html, body, #root {
  height: 100%;
}

.content {
  padding: 40px;
  padding-top:104px;
}

@media (min-width: 600px) {
  .content {
    margin-left: 240px;
  }
}

.grow {
  flex-grow: 1;
}

.drawer{
  padding-top: 64px;
}

.language-sh{
  padding: 20px;
  margin: 20px 0px;
  background-color: #DEDEDE;
  display: block;
  border-radius: 5px;
}

.card-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-block{
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 5spx !important;
}

.text-center{
  text-align: center;
}

.card-content{
  padding: 40px 30px !important;
  padding-bottom: 15px !important;
}

.card-actions {
  padding: 40px 30px !important;
  padding-top: 15px !important;
}

.button-block {
  width: 100%;
}