html,
body,
#root {
  height: 100%;
}

.content {
  padding: 40px;
  padding-top: 104px;
}

.grow {
  flex-grow: 1;
}

.drawer {
  padding-top: 64px;
}

.language-sh {
  padding: 20px;
  margin: 20px 0px;
  background-color: #dedede;
  display: block;
  border-radius: 5px;
}

.card-center {
  display: block;
  padding: 30px 0%;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #2e7d32;
  overflow: scroll;
}

.input-block {
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 5spx !important;
}

.text-center {
  text-align: center;
}

.card {
  margin: 0px 30px;
}

.card-content {
  padding: 40px 30px !important;
  padding-bottom: 15px !important;
}

.card-actions {
  padding: 40px 30px !important;
  padding-top: 15px !important;
}

.button-block {
  width: 100%;
}

.signin-padding {
  padding: 20px;
}

.line {
  margin-bottom: 20px !important;
}

@media (min-width: 600px) {
  .content {
    margin-left: 240px;
  }
  .card-center {
    padding: 30px 20%;
    display: flex;
    padding-top: 0px;
    overflow: hidden;
  }

  .line {
    border-left: 1px solid #cdcdcd;
  }
}
